/Laprak Metnum 02.docx
/laprak2_metnum.m
/PMN02_L0325005_IrfanSasongko.pdf
/PMN02_L0325005_IrfanSasongko_ZIP.zip
/PMN03_L0325005_IrfanSasongko.pdf
/PNM01_L0325005_IrfanSasongko.pdf
/Tugas MetNum 1.docx
/Tugas_Galat_Error_Octave.m
/~$PORAN PRAKTIKUM 4 Metnum.docx